# Exploring Crime in Chicago 2018

In [49]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [50]:
# Read in .csv file as a Pandas DataFrame
crime_df = pd.read_csv("Resources/chicago_crimes_2018.csv")
crime_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,11561837,JC110056,12/31/2018 11:59:00 PM,013XX W 72ND ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,-87.657709,"(41.763181359, -87.657709477)",17.0,22257.0,65.0,408.0,32.0,23.0,17.0,216.0
1,11556487,JC104662,12/31/2018 11:59:00 PM,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,-87.696064,"(41.689078832, -87.696064026)",33.0,4447.0,73.0,256.0,42.0,33.0,9.0,254.0
2,11552699,JC100043,12/31/2018 11:57:00 PM,084XX S SANGAMON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.647391,"(41.740520866, -87.647390719)",18.0,21554.0,70.0,530.0,13.0,59.0,20.0,233.0
3,11552724,JC100006,12/31/2018 11:56:00 PM,018XX S ALLPORT ST,0440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,-87.657625,"(41.857068095, -87.657625201)",8.0,14920.0,33.0,365.0,26.0,43.0,15.0,150.0
4,11552731,JC100031,12/31/2018 11:55:00 PM,078XX S SANGAMON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,-87.647717,"(41.75191443, -87.647716532)",17.0,21554.0,70.0,487.0,31.0,59.0,20.0,229.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268788,11759173,JC350601,01/01/2018 12:00:00 AM,039XX W DICKENS AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268789,11533503,JB550796,01/01/2018 12:00:00 AM,005XX E 133RD ST,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,-87.608635,"(41.653446938, -87.608635166)",30.0,4460.0,51.0,9.0,43.0,47.0,10.0,221.0
268790,11198738,JB108247,01/01/2018 12:00:00 AM,0000X S COLUMBUS DR,0820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,-87.620768,"(41.881776822, -87.620767948)",22.0,14309.0,38.0,580.0,36.0,34.0,22.0,87.0
268791,11367988,JB331992,01/01/2018 12:00:00 AM,056XX N KIMBALL AVE,0266,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,...,-87.713782,"(41.983849798, -87.713781542)",28.0,4450.0,13.0,799.0,38.0,50.0,1.0,53.0
268792,11721888,JC305392,01/01/2018 12:00:00 AM,046XX N KIMBALL AVE,1581,SEX OFFENSE,NON-CONSENSUAL DISSEMINATION PRIVATE SEXUAL IM...,RESIDENCE,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# Find out what columns are in the data frame
crime_df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards', 'Boundaries - ZIP Codes',
       'Police Districts', 'Police Beats'],
      dtype='object')

In [52]:
# Count the number of each crime committed
counts_crime = crime_df["Primary Type"].value_counts()
counts_crime

THEFT                                65286
BATTERY                              49828
CRIMINAL DAMAGE                      27824
ASSAULT                              20406
DECEPTIVE PRACTICE                   19819
OTHER OFFENSE                        17263
NARCOTICS                            13590
BURGLARY                             11746
MOTOR VEHICLE THEFT                   9985
ROBBERY                               9680
CRIMINAL TRESPASS                     6908
WEAPONS VIOLATION                     5456
OFFENSE INVOLVING CHILDREN            2408
CRIM SEXUAL ASSAULT                   1400
PUBLIC PEACE VIOLATION                1372
INTERFERENCE WITH PUBLIC OFFICER      1307
SEX OFFENSE                           1188
PROSTITUTION                           718
HOMICIDE                               601
ARSON                                  373
CRIMINAL SEXUAL ASSAULT                317
LIQUOR LAW VIOLATION                   268
STALKING                               207
GAMBLING                               201
KIDNAPPING                             172
INTIMIDATION                           168
CONCEALED CARRY LICENSE VIOLATION      149
OBSCENITY                               87
NON-CRIMINAL                            36
PUBLIC INDECENCY                        14
HUMAN TRAFFICKING                       12
NON-CRIMINAL (SUBJECT SPECIFIED)         3
OTHER NARCOTIC VIOLATION                 1
Name: Primary Type, dtype: int64

In [53]:
# Group crimes by district
district_df = crime_df.groupby(["District"])["Primary Type"].value_counts()
district_df

District  Primary Type
1         THEFT                  7659
          DECEPTIVE PRACTICE     2306
          BATTERY                1697
          CRIMINAL DAMAGE         839
          ASSAULT                 788
                                 ...
31        SEX OFFENSE               3
          BATTERY                   2
          CRIM SEXUAL ASSAULT       1
          DECEPTIVE PRACTICE        1
          MOTOR VEHICLE THEFT       1
Name: Primary Type, Length: 650, dtype: int64

In [61]:
# Group crimes into like groups
crime_cleaned_df = crime_df.replace({"KIDNAPPING" : "KIDNAPPING AND HUMAN TRAFFICKING", 
                                    "HUMAN TRAFFICKING" : "KIDNAPPING AND HUMAN TRAFFICKING",
                                    "NARCOTICS" : "DRUG RELATED",
                                    "OTHER NARCOTIC VIOLATION" : "DRUG RELATED",
                                    "ASSAULT": "ASSAULT & BATTERY",
                                    "BATTERY": "ASSAULT & BATTERY",
                                    "RITUALISM": "ASSAULT & BATTERY",
                                    "STALKING": "ASSAULT & BATTERY",
                                    "INTIMIDATION": "ASSAULT & BATTERY",
                                    "PUBLIC PEACE VIOLATION":"OTHER MINOR CRIMES",
                                    "INTERFERENCE WITH PUBLIC OFFICER":"OTHER MINOR CRIMES",
                                    "LIQUOR LAW VIOLATION":"OTHER MINOR CRIMES",
                                    "OBSCENITY":"OTHER MINOR CRIMES",
                                    "GAMBLING":"OTHER MINOR CRIMES",
                                    "NON-CRIMINAL":"OTHER MINOR CRIMES",
                                    "PUBLIC INDECENCY":"OTHER MINOR CRIMES",
                                    "OTHER OFFENSE":"OTHER MINOR CRIMES",
                                    "PROSTITUTION":"OTHER MINOR CRIMES",
                                    "THEFT":"THEFT (ALL TYPES)",
                                    "MOTOR VEHICLE THEFT":"THEFT (ALL TYPES)", 
                                    "ROBBERY":"THEFT (ALL TYPES)", 
                                    "BURGLARY":"THEFT (ALL TYPES)",
                                    "DECEPTIVE PRACTICE":"THEFT (ALL TYPES)",
                                    "CRIM SEXUAL ASSAULT": "SEXUAL RELATED CRIME",
                                    "CRIMINAL SEXUAL ASSAULT": "SEXUAL RELATED CRIME",
                                    "SEX OFFENSE": "SEXUAL RELATED CRIME",
                                    "CRIMINAL TRESPASS":"MINOR PROPERTY CRIME",
                                    "CRIMINAL DAMAGE":"MINOR PROPERTY CRIME",
                                    "WEAPONS VIOLATION":"WEAPONS RELATED CRIME",
                                    "CONCEALED CARRY LICENSE VIOLATION":"WEAPONS RELATED CRIME"})


crime_cleaned_df = crime_cleaned_df[["ID","Case Number", "Date", "Block", "IUCR","Primary Type", "Description", "Location Description", "Arrest","Domestic","Beat","District", "Ward","Community Area","FBI Code","X Coordinate","Y Coordinate",
                                     "Year", "Updated On","Latitude", "Longitude", "Location"]]

crime_cleaned_df.to_csv("chicago_crimes_2018_cleaned.csv",index=False)

crime_cleaned_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11561837,JC110056,12/31/2018 11:59:00 PM,013XX W 72ND ST,1153,THEFT (ALL TYPES),FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,6.0,67,11,1168573.0,1857018.0,2018,01/17/2019 02:26:36 PM,41.763181,-87.657709,"(41.763181359, -87.657709477)"
1,11556487,JC104662,12/31/2018 11:59:00 PM,112XX S SACRAMENTO AVE,1320,MINOR PROPERTY CRIME,TO VEHICLE,STREET,False,False,...,19.0,74,14,1158309.0,1829936.0,2018,01/10/2019 03:16:50 PM,41.689079,-87.696064,"(41.689078832, -87.696064026)"
2,11552699,JC100043,12/31/2018 11:57:00 PM,084XX S SANGAMON ST,1310,MINOR PROPERTY CRIME,TO PROPERTY,APARTMENT,False,False,...,21.0,71,14,1171454.0,1848783.0,2018,01/10/2019 03:16:50 PM,41.740521,-87.647391,"(41.740520866, -87.647390719)"
3,11552724,JC100006,12/31/2018 11:56:00 PM,018XX S ALLPORT ST,0440,ASSAULT & BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,25.0,31,08B,1168327.0,1891230.0,2018,01/10/2019 03:16:50 PM,41.857068,-87.657625,"(41.857068095, -87.657625201)"
4,11552731,JC100031,12/31/2018 11:55:00 PM,078XX S SANGAMON ST,0486,ASSAULT & BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,17.0,71,08B,1171332.0,1852934.0,2018,01/10/2019 03:16:50 PM,41.751914,-87.647717,"(41.75191443, -87.647716532)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268788,11759173,JC350601,01/01/2018 12:00:00 AM,039XX W DICKENS AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,True,True,...,26.0,22,17,NaN,NaN,2018,09/13/2019 04:06:54 PM,NaN,NaN,NaN
268789,11533503,JB550796,01/01/2018 12:00:00 AM,005XX E 133RD ST,1562,SEXUAL RELATED CRIME,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,True,...,9.0,54,17,1182298.0,1817141.0,2018,01/31/2019 04:05:04 PM,41.653447,-87.608635,"(41.653446938, -87.608635166)"
268790,11198738,JB108247,01/01/2018 12:00:00 AM,0000X S COLUMBUS DR,0820,THEFT (ALL TYPES),$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42.0,32,06,1178293.0,1900315.0,2018,05/04/2018 03:51:04 PM,41.881777,-87.620768,"(41.881776822, -87.620767948)"
268791,11367988,JB331992,01/01/2018 12:00:00 AM,056XX N KIMBALL AVE,0266,SEXUAL RELATED CRIME,PREDATORY,RESIDENCE,False,False,...,39.0,13,02,1152695.0,1937314.0,2018,08/13/2020 03:45:49 PM,41.983850,-87.713782,"(41.983849798, -87.713781542)"
268792,11721888,JC305392,01/01/2018 12:00:00 AM,046XX N KIMBALL AVE,1581,SEXUAL RELATED CRIME,NON-CONSENSUAL DISSEMINATION PRIVATE SEXUAL IM...,RESIDENCE,False,True,...,33.0,14,17,NaN,NaN,2018,06/29/2019 04:05:33 PM,NaN,NaN,NaN

In [55]:
# Pick columns we want to look at
crime_cleaned_df = crime_cleaned_df[["Case Number", "Date", "Block", "Primary Type", "Description", "District", "Ward",
                                     "Year", "Latitude", "Longitude", "Location"]]
crime_cleaned_df

,Case Number,Date,Block,Primary Type,Description,District,Ward,Year,Latitude,Longitude,Location
0,JC110056,12/31/2018 11:59:00 PM,013XX W 72ND ST,THEFT (ALL TYPES),FINANCIAL IDENTITY THEFT OVER $ 300,7,6.0,2018,41.763181,-87.657709,"(41.763181359, -87.657709477)"
1,JC104662,12/31/2018 11:59:00 PM,112XX S SACRAMENTO AVE,MINOR PROPERTY CRIME,TO VEHICLE,22,19.0,2018,41.689079,-87.696064,"(41.689078832, -87.696064026)"
2,JC100043,12/31/2018 11:57:00 PM,084XX S SANGAMON ST,MINOR PROPERTY CRIME,TO PROPERTY,6,21.0,2018,41.740521,-87.647391,"(41.740520866, -87.647390719)"
3,JC100006,12/31/2018 11:56:00 PM,018XX S ALLPORT ST,ASSAULT & BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,12,25.0,2018,41.857068,-87.657625,"(41.857068095, -87.657625201)"
4,JC100031,12/31/2018 11:55:00 PM,078XX S SANGAMON ST,ASSAULT & BATTERY,DOMESTIC BATTERY SIMPLE,6,17.0,2018,41.751914,-87.647717,"(41.75191443, -87.647716532)"
...,...,...,...,...,...,...,...,...,...,...,...
268788,JC350601,01/01/2018 12:00:00 AM,039XX W DICKENS AVE,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,25,26.0,2018,NaN,NaN,NaN
268789,JB550796,01/01/2018 12:00:00 AM,005XX E 133RD ST,SEXUAL RELATED CRIME,AGG CRIMINAL SEXUAL ABUSE,5,9.0,2018,41.653447,-87.608635,"(41.653446938, -87.608635166)"
268790,JB108247,01/01/2018 12:00:00 AM,0000X S COLUMBUS DR,THEFT (ALL TYPES),$500 AND UNDER,1,42.0,2018,41.881777,-87.620768,"(41.881776822, -87.620767948)"
268791,JB331992,01/01/2018 12:00:00 AM,056XX N KIMBALL AVE,SEXUAL RELATED CRIME,PREDATORY,17,39.0,2018,41.983850,-87.713782,"(41.983849798, -87.713781542)"
268792,JC305392,01/01/2018 12:00:00 AM,046XX N KIMBALL AVE,SEXUAL RELATED CRIME,NON-CONSENSUAL DISSEMINATION PRIVATE SEXUAL IM...,17,33.0,2018,NaN,NaN,NaN

In [56]:
# Get the counts of the "Primary Type" of crime committed
counts_crime = crime_cleaned_df["Primary Type"].value_counts()
counts_crime

THEFT (ALL TYPES)                   116516
ASSAULT & BATTERY                    70609
MINOR PROPERTY CRIME                 34732
OTHER MINOR CRIMES                   21266
DRUG RELATED                         13591
WEAPONS RELATED CRIME                 5605
SEXUAL RELATED CRIME                  2905
OFFENSE INVOLVING CHILDREN            2408
HOMICIDE                               601
ARSON                                  373
KIDNAPPING AND HUMAN TRAFFICKING       184
NON-CRIMINAL (SUBJECT SPECIFIED)         3
Name: Primary Type, dtype: int64

In [57]:
# Look at percentage of total crimes each category represents
percentage_crime = pd.DataFrame(counts_crime)
percentage_crime["Percent of Total Crime"] = round(percentage_crime["Primary Type"] / sum(percentage_crime["Primary Type"]),4)*100

percentage_crime

                                  Primary Type  Percent of Total Crime
THEFT (ALL TYPES)                       116516                   43.35
ASSAULT & BATTERY                        70609                   26.27
MINOR PROPERTY CRIME                     34732                   12.92
OTHER MINOR CRIMES                       21266                    7.91
DRUG RELATED                             13591                    5.06
WEAPONS RELATED CRIME                     5605                    2.09
SEXUAL RELATED CRIME                      2905                    1.08
OFFENSE INVOLVING CHILDREN                2408                    0.90
HOMICIDE                                   601                    0.22
ARSON                                      373                    0.14
KIDNAPPING AND HUMAN TRAFFICKING           184                    0.07
NON-CRIMINAL (SUBJECT SPECIFIED)             3                    0.00

In [58]:
# Look at which district had the most crimes
district_df = crime_cleaned_df.groupby(["District"])[["Primary Type"]].count().sort_values(by = "Primary Type", ascending = False)
district_df

          Primary Type
District
11               19267
6                16563
8                16452
18               16236
1                15712
7                14337
4                14234
25               13427
12               13167
10               12667
19               12315
3                12143
5                12032
2                11926
9                11096
15               10109
14                9409
16                8814
22                8493
24                7752
17                7664
20                4967
31                  11

In [59]:
# Look at which crimes were most prevalent by district
grouped_district_df = crime_cleaned_df.groupby(["District"])["Primary Type"].value_counts()
grouped_district_df

District  Primary Type
1         THEFT (ALL TYPES)                   10845
          ASSAULT & BATTERY                    2504
          MINOR PROPERTY CRIME                 1296
          OTHER MINOR CRIMES                    666
          DRUG RELATED                          170
                                              ...
25        KIDNAPPING AND HUMAN TRAFFICKING       15
31        SEXUAL RELATED CRIME                    4
          OFFENSE INVOLVING CHILDREN              3
          ASSAULT & BATTERY                       2
          THEFT (ALL TYPES)                       2
Name: Primary Type, Length: 248, dtype: int64